---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Adjust font size everywhere
html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 14px; // 16px;

  @include breakpoint($medium) {
    font-size: 15px; // 18px;
  }

  @include breakpoint($large) {
    font-size: 16px; // 20px;
  }

  @include breakpoint($x-large) {
    font-size: 17px; // 22px;
  }

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Adjust width of left and right sidebars
$right-sidebar-width-narrow: 100px; // 200px !default;
$right-sidebar-width: 150px; // 300px !default;
$right-sidebar-width-wide: 200px; // 400px !default;

// Adjust size, shape, and border of profile picture in sidebar
.author__avatar {
  img {
    max-width: 150px; // max-width: 110px;
    border-radius: 50%;

    @include breakpoint($large) {
      padding: 5px;
      border: 1px solid $border-color;
    }
  }
}

// Adjust font size of author name in sidebar
.sidebar .author__name {
  font-family: $sans-serif;
  font-size: $type-size-4; // $type-size-5;
}
